---
import Layout from '@layouts/Default.astro';

import Card from '@components/Card.astro';
import ProgressBar from '@components/ProgressBar.astro';
import ScrollButton from '@components/ScrollButton.astro';
import Footer from '@components/Footer.astro';

import GithubIcon from '@icons/Github.astro';
import EnvelopeIcon from '@icons/Envelope.astro';
import BriefcaseIcon from '@icons/Briefcase.astro';
import UserTieIcon from '@icons/UserTie.astro';
import LocationDotIcon from '@icons/LocationDot.astro';
import CakeCandlesIcon from '@icons/CakeCandles.astro';
import GraduationCapIcon from '@icons/GraduationCap.astro';
import CodeIcon from '@icons/Code.astro';
import LanguageIcon from '@icons/Language.astro';

import { Locale, DEFAULT_LOCALE } from '@/Common.ts';

const DESCRIPTION: string = `
	<p>With more than 5 years of experience in software engineering projects, I have specialized over time in backend development with strong security and performance constraints using low-level languages. I enjoy writing efficient code and providing simple and elegant solutions to complex problems.</p>
	<p>Primarily interested in security and concurrent programming, I also have devops skills under my belt: continuous integration, continuous deployment and continuous improvement, with automation as my main focus, which are the most essential skills today.</p>
	<p>I am evolving nowadays in diverse missions in Avisto for major clients with international reputation.</p>
`

const EXPERIENCE = {
	languages: [
		{ "label": "French", "level": 100 },
		{ "label": "English", "level": 100 },
		{ "label": "German" , "level": 30  },
	],
	programmingLanguages: [
		{ "label": "C++", "level": 95 },
		{ "label": "Python", "level": 80 },
		{ "label": "C#", "level": 70 },
		{ "label": "Go", "level": 70 },
		{ "label": "Rust", "level": 50 },
	],
	education: [
		{
			"label": "Engineer's Degree - Information Systems",
			"years": "2017 - 2020",
			"institution": "CNAM",
			"location": "Paris, France"
		},
		{
			"label": "Higher Technician Diploma - IT Services for Organizations",
			"years": "2015 - 2017",
			"institution": "Lycée Louis Armand",
			"location": "Paris, France"
		},
	],
	employment: [
		{
			"label": "DevOps Engineer",
			"years": "Since 2024",
			"company": "Avisto",
			"location": "Cachan, France",
			"content": "Deployed and integrated KPI solutions for multiple distributed on-premise clusters. Maintained components and integrations pipelines. Automated deployments and supported VnV teams in an international and multicultural context.",
			"tags": [ "Python", "Ansible", "Kubernetes", "Grafana", "C#", "Bash", "Helm" ]
		},
		{
			"label": "C++ Engineer",
			"years": "2023",
			"company":"Avisto",
			"location": "Cachan, France",
			"content": "Redesigned a graphical desktop application for initializing, verifying and managing firewalls.",
			"tags": [ "C++", "Qt" ]
		},
		{
			"label": "C++ DevOps Engineer",
			"years": "2022 - 2023",
			"company": "Avisto",
			"location": "Cachan, France",
			"content": "Maintained a transactional middleware framework and a cloud native routing application on Microsoft Azure PaaS. Participated in technical workshops for the redesign of a solution capable of transmitting sensitive data (such as credit cards) through a chain of untrusted services in order to meet the requirements of the PCI DSS standard.",
			"tags": [ "C++", "Python", "Kubernetes", "Artifactory", "Helm", "ArgoCD", "Prometheus", "Boost" ]
		},
		{
			"label": "C++ Security Engineer",
			"years": "2020 - 2022",
			"company": "Silicom",
			"location": "Guyancourt, France",
			"content": "Maintained a set of components for the secure transmission of network performance metrics (latency, delay...) between GNU/Linux embedded servers located on mobile naval platforms. Developed pipelines to automate testing and improve quality (code coverage).",
			"tags": [ "C++", "Ansible", "Jenkins", "OpenSSL", "Kafka", "SonarQube", "SNMP", "Docker" ]
		},
		{
			"label": "QA Tester (Apprenticeship)",
			"years": "2017 - 2020",
			"company": "EDF",
			"location": "Saint-Denis, France",
			"content": "Tested and monitored a critical surveillance application at the heart of the nuclear safety business. Specified technical and functional requirements for the redesign of the solution in alignment with business needs (performance, reliability, robustness). Developed of VBA Excel macros for the edition of critical documents with high added value.",
			"tags": [ "PHP", "Javascript", "MySQL", "VBA" ]
		},
		{
			"label": "Web Developer (Internship)",
			"years": "2017",
			"company": "RATP",
			"location": "Saint-Ouen, France",
			"content": "Maintained a Web portal application in PHP / Javascript. Optimized SQL queries and bug fixes. Developed functionalities for a work order management application.",
			"tags": [ "PHP", "Javascript", "MySQL" ]
		},
		{
			"label": "Network System Administrator (Internship)",
			"years": "2016",
			"company": "RATP",
			"location": "Saint-Ouen, France",
			"content": "Developed an SFTP access management daemon on RHEL5 servers. Increased skills on system administration and networks.",
			"tags": [ "Bash", "VirtualBox" ]
		},
	]
};

const CURRENT_LOCALE: Locale = Locale.English;
---

<Layout lang="fr" title="Accueil">
	<header class="hidden h-lvh flex-col items-center justify-center gap-4 text-white sm:flex bg-1st">
		<div class="cubano flex items-center gap-4">
			{Object.values(Locale).map((l: Locale) => (
				l == CURRENT_LOCALE
					? <div class="hero-button text-xl">{l}</div>
					: l == DEFAULT_LOCALE
						? <a href="/" class="hero-button text-xl">{l}</a>
						: <a href={l.toLowerCase()} class="hero-button text-xl">{l}</a>
			))}
		</div>
		<h1 class="cubano text-7xl font-thin fg-white">dubet.fr</h1>
		<ScrollButton />
	</header>
	<main class="hidden sm:block bg-4th">
		<div class="mx-auto grid grid-cols-1 gap-4 px-4 py-8 md:container lg:grid-cols-2 bg-4th">
			<section class="flex flex-col items-start gap-4">
				<div class="flex w-full items-center justify-center">
					<img class="h-64 w-64 rounded-full border-8 md:h-80 md:w-80" alt="Photograph of Cyril Dubet" loading="lazy" src="images/me.webp" style="border-color: var(--color-1st)" />
				</div>
				<div class="flex w-full items-center justify-center gap-4">
					<a aria-label="email-contact" href="mailto:cyril@dubet.fr" class="any-button">
						<div class="h-10 w-10">
							<EnvelopeIcon />
						</div>
					</a>
					<a aria-label="github-profile" target="_blank" href="https://github.com/dubet" class="any-button">
						<div class="h-10 w-10">
							<GithubIcon />
						</div>
					</a>
				</div>
				<div class="cubano text-md flex w-full flex-wrap justify-center gap-2">
					<div class="info">
						<span class="h-6 w-6 flex-shrink-0">
							<UserTieIcon />
						</span>
						<span>Cyril Dubet</span>
					</div>
					<div class="info">
						<span class="h-6 w-6 flex-shrink-0">
							<LocationDotIcon />
						</span>
						<span>Paris, France</span>
					</div>
					<div class="info">
						<span class="h-6 w-6 flex-shrink-0">
							<CakeCandlesIcon />
						</span>
						<span>24 décembre 1996 (27 ans)</span>
					</div>
				</div>
				<div class="fg-black">
					<Fragment set:html={DESCRIPTION} />
				</div>
				<h1 class="section-title">
					<span class="h-8 w-8 flex-shrink-0">
						<LanguageIcon />
					</span>
					<span>Languages</span>
				</h1>
				{EXPERIENCE.languages.map((l) => (
					<ProgressBar name={l.label} progress={l.level} />
				))}
				<h1 class="section-title">
					<span class="h-8 w-8 flex-shrink-0">
						<CodeIcon />
					</span>
					<span>Programming</span>
				</h1>
				{EXPERIENCE.programmingLanguages.map((pl) => (
					<ProgressBar name={pl.label} progress={pl.level} />
				))}
				<h1 class="section-title">
					<span class="h-8 w-8 flex-shrink-0">
						<GraduationCapIcon />
					</span>
					<span>Education</span>
				</h1>
				{EXPERIENCE.education.map((e) => (
					<Card label={e.label} years={e.years} host={e.institution} location={e.location} />
				))}
			</section>
			<section class="flex flex-col items-start gap-4">
				<h1 class="section-title">
					<span class="h-8 w-8 flex-shrink-0">
						<BriefcaseIcon />
					</span>
					<span>Professional Experiences</span>
				</h1>
				{EXPERIENCE.employment.map((e) => (
					<Card label={e.label} years={e.years} host={e.company} location={e.location} content={e.content} tags={e.tags} />
				))}
			</section>
		</div>
		<Footer locale={CURRENT_LOCALE} />
	</main>
</Layout>
