---
import "@styles/theme.css";

import { type Locale } from "@common";
import Layout from "@layouts/Default.astro"
import FaceWithMonocle from "@emojis/FaceWithMonocle.astro";
import { BsHouseFill } from "solid-icons/bs";


const LOCALE: Locale = ((): Locale => {
	const pathname: string = Astro.url.pathname;

	if (pathname.startsWith("/fr")) return "fr";
	if (pathname.startsWith("/en")) return "en";
	if (pathname.startsWith("/ru")) return "ru";

	return "fr";
})();

const translations = {
	en: {
		title: "404 - Page Not Found",
		heading: "Not Found",
		message: "The page you're looking for doesn't exist.",
	},
	fr: {
		title: "404 - Page Introuvable",
		heading: "Introuvable",
		message: "La page que vous recherchez n'existe pas.",
	},
	ru: {
		title: "404 - Страница Не Найдена.",
		heading: "Не Найдено.",
		message: "Страница, которую вы ищете, не существует.",
	}
};

const translation = translations[LOCALE];
---

<Layout locale={LOCALE} title={translation.title}>
	<header>
		<div class="hidden sm:flex h-screen w-screen justify-center items-center bg-1st px-2 text-white">
			<div class="h-128 w-lg flex flex-col gap-8 m-8 content-center items-center justify-center">
				<span class="w-64 transition hover:scale-120">
					<FaceWithMonocle />
				</span>
				<h1 class="text-4xl font-bold">
					{translation.heading}
				</h1>
				<p class="text-center fg-white text-lg w-full">{translation.message}</p>
				<a aria-label="return-home" href={`/${LOCALE}`} class="hero-button w-64">
					<BsHouseFill size={36} />
				</a>
			</div>
		</div>
	</header>
</Layout>
