---
import { getCollection } from "astro:content";
import type { Locale } from "@common";
import Layout from "@layouts/Default.astro";
import Header from "@components/ArticleIndexHeader.astro";

import { getFormattedDate, initLocale } from "@common";
import Footer from "@components/Footer.astro";

interface Props {
	locale: Locale;
	title: string;
}

const { title, locale } = Astro.props;

const articles = await getCollection("articles");

const T = initLocale(locale);

const sortedArticles = articles
	.filter((article) => article.data.locale === locale && !article.data.draft)
	.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
	.map((article) => ({
		params: { slug: article.data.slug },
		props: article,
	}));
---

<Layout locale={locale} title={title}>
	<Header locale={locale}/>
	<main class="font-merriweather bg-3rd md:max-w-5xl xl:max-w-5xl mx-auto px-4 min-h-screen py-8">
		<ul class="space-y-6">
			{sortedArticles.length > 0 && sortedArticles.map((article) => (
				<li class="py-6 px-8 flex flex-col">
					<a href={`/${locale}/articles/${article.params.slug}`} class="w-fit text-black underline hover:text-blue-800">
						<h2 class="text-lg md:text-3xl mb-4 font-bold">{article.props.data.title}</h2>
					</a>
					<p class="text-gray-600 mt-2 italic text-md md:text-lg">{article.props.data.description}</p>
					<div class="flex gap-4 text-gray-600 mt-3 items-center justify-between font-bold text-sm md:text-md">
						<span>{getFormattedDate(new Date(article.props.data.pubDate), locale)}</span>
						<span>{article.props.data.locale.toUpperCase()}</span>
					</div>
				</li>
				<div class="px-12">
					<hr class="text-black border"/>
				</div>
			))}
			{sortedArticles.length == 0 && (
				<div>{T("articleIndex.noArticleFound")}</div>
			)}
		</ul>
	</main>

	<Footer locale={locale} />
</Layout>
