---
import {
	type EducationEntry,
	type EmploymentEntry,
	getAge,
	getFormattedDate,
	initLocale,
	type Locale,
} from "@common";

import Header from "./HeroHeader.astro";
import ProgressBar from "./ProgressBar.astro";
import Card from "@components/Card.astro";
import { BsBriefcaseFill, BsCake2Fill, BsCodeSlash, BsEnvelopeAtFill, BsGeoAltFill, BsGithub, BsMortarboardFill, BsPersonFill, BsTranslate } from "solid-icons/bs";
import Footer from "@components/Footer.astro";
import Layout from "@/layouts/Default.astro";

interface Props {
	locale: Locale;
}

const { locale } = Astro.props;

const T = initLocale(locale);

const CV = {
	birthDate: new Date("1996-12-24"),
	description: T("index.description", { returnObjects: true }) as string[],
	languages: [
		{ label: T("index.language.french"), level: 100 },
		{ label: T("index.language.english"), level: 100 },
	],
	programming: [
		{ label: "C++", level: 90 },
		{ label: "Python", level: 90 },
		{ label: "Bash", level: 90 },
		{ label: "TypeScript", level: 70 },
		{ label: "Rust", level: 60 },
	],
	education: T("index.education", { returnObjects: true }) as EducationEntry[],
	employment: T("index.employment", {
		returnObjects: true,
	}) as EmploymentEntry[],
};
---

<Layout locale={locale} title={T("index.title")}>
	<Header locale={locale} />
	<main class="bg-4th font-merriweather">
		<div class="mx-auto grid grid-cols-1 gap-4 px-10 py-8 md:container lg:grid-cols-2 2xl:px-auto bg-4th">
			<section class="flex flex-col items-start gap-4">
				<div class="flex w-full items-center justify-center">
					<img class="w-60 rounded-full border-8 md:w-102 border-1st" alt="Photograph of Cyril Dubet" loading="lazy" src="/assets/images/me.webp" />
				</div>
				<div class="flex w-full items-center justify-center gap-4">
					<a aria-label="email-contact" href="mailto:cyril@dubet.fr" class="any-button">
						<BsEnvelopeAtFill size={32} />
					</a>
					<a aria-label="github-profile" target="_blank" href="https://github.com/dubet" class="any-button">
						<BsGithub size={32} />
					</a>
				</div>
				<div class=" text-md flex w-full flex-wrap justify-center gap-2">
					<div class="info">
						<BsPersonFill size={16} />
						<span>Cyril Dubet</span>
					</div>
					<div class="info">
						<BsGeoAltFill size={16} />
						<span>Paris, France</span>
					</div>
					<div class="info">
						<BsCake2Fill size={16} />
						<span>{getFormattedDate(CV.birthDate, locale) + " (" + getAge(CV.birthDate) + " " + T("index.ageSuffix") + ")"}</span>
					</div>
				</div>
				<div class="text-black">
					{(CV.description).map((s: string) => (
						<p class="py-1 text-center">{s}</p>
					))}
				</div>
				<h2 class="section-title">
					<BsTranslate size={32} />
					<span>{T("index.languageTitle")}</span>
				</h2>
				{(CV.languages).map((l) => (
					<ProgressBar label={l.label} level={l.level} />
				))}
				<h2 class="section-title">
					<BsCodeSlash size={32} />
					<span>{T("index.programmingTitle")}</span>
				</h2>
				{(CV.programming).map((p) => (
					<ProgressBar label={p.label} level={p.level} />
				))}
				<h2 class="section-title">
					<BsMortarboardFill size={32} />
					<span>{T("index.educationTitle")}</span>
				</h2>
				{(CV.education).map((e) => (
					<Card label={e.label} years={e.years} host={e.institution} location={e.location} />
				))}
			</section>
			<section class="flex flex-col items-start gap-4">
				<h2 class="section-title">
					<BsBriefcaseFill size={32} />
					<span>{T("index.employmentTitle")}</span>
				</h2>
				{(CV.employment).map((e) => (
					<Card label={e.label} years={e.years} host={e.company} location={e.location} content={e.content} tags={e.tags} />
				))}
			</section>
		</div>
	</main>
	<Footer locale={locale} />
</Layout>
